* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Readex Pro";
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    filter: drop-shadow(0px 4px 100px rgba(255, 0, 10, 0.5));
    overflow: hidden;
}

header {
    height: 200px;
}

.header-content-container,
.header-content-container ul {
    display: flex;
}

.header-content-container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header-content-container img {
    position: relative;
    left: 80px;
    top: 40px;
}

.header-content-container li {
    padding: 50px 30px;
    border-top: 5px solid transparent;
}

.menu-desktop {
    a {
        li {
            position: relative;
            &::before {
                content: "";
                height: 0px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                // background-color: transparent;
                transition: ease-in-out 0.3s !important;
            }
            &:hover {
                &::before {
                    height: 5px;
                    background-color: #0047d0;
                }
            }
        }
    }
}

.menu-items {
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 65px;
    right: 0px;
    background: #f3761dc5;
    backdrop-filter: blur(25px);
}

.menu-items a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    z-index: 4;
    font-size: 26px;
    padding: 20px 20px;
    border-bottom: 5px solid transparent;
    list-style: none;
    position: relative;
}

.menu-itens a:before {
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: ease-in-out 0.3s !important;
}

.menu-items a:last-of-type {
    border: none;
}

.participar-button {
    border: 0;
    border-radius: 15px;
    width: 290px;
    text-align: center;
    padding: 23px 0;
    color: #fff;
    background-color: #0047d0;
}
.participar-button:hover {
    background-color: #00a3ff;
}
a,
button,
input {
    transition: ease-in-out 0.3s !important;
}

.header-menu-content {
    display: none;
}

.header-orange-container {
    position: relative;
    width: 105%;
    height: 300px;
    background-color: #f3771d;
    top: -300px;
    left: -10px;
    z-index: 1;
    transform: rotate(178deg);
    overflow: hidden;
}

.header-red-container {
    position: relative;
    width: 105%;
    height: 300px;
    background-color: #c81413;
    top: -600px;
    z-index: 0;
    left: 300px;
    transform: rotate(2deg);
    overflow: hidden;
}

.header-content-container a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.header-menu {
    display: none;
}

.header-menu button {
    border: 0;
    width: 150px;
    height: 62px;
    background-color: #0047d0;
    color: #fff;
    border-radius: 15px;
    margin-left: 60px;
    margin-top: 20px;
}

#menu-button {
    display: flex;
    align-items: center;
}

.bar1,
.bar2,
.bar3 {
    width: 48px;
    height: 5px;
    border-radius: 15px;
    background-color: #fff;
    margin: 5px;
    transition: 0.3s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu-default .bar1 {
    -webkit-transform: none;
    transform: none;
}

.menu-default .bar2 {
    opacity: 1;
}

.menu-default .bar3 {
    -webkit-transform: none;
    transform: none;
}

@media (max-width: 425px) {
    header {
        height: 110px;
    }
    .header-content-container img {
        position: absolute;
        top: 10px;
        left: 110px;
        width: 137px;
        height: 82.02px;
    }
}

@media (max-width: 456px) {
    #menu-button {
        width: 90px;
        height: 52px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 32px;
    }
    .header-content-container img {
        width: 137px;
        height: 82.02px;
    }
}

@media (max-width: 515px) {
    .header-content-container img {
        width: 211px;
        height: 93.62px;
        margin-left: 0;
        margin-right: 60px;
    }
}

@media (max-width: 725px) {
    #participar-button {
        display: none;
    }

    #menu-button,
    .header-content-container img {
        margin: 0 auto;
        justify-content: center;
    }

    .header-content-container img {
        margin-right: 240px;
    }

    #menu-button {
        margin-top: 25px;
        margin-right: 0;
        margin-left: 5px;
    }
}

@media (max-width: 860px) {
    nav span {
        display: none;
    }

    .header-menu button {
        margin-left: 20px;
    }
}

@media (max-width: 1285px) {
    .header-menu {
        display: initial;
    }

    .header-content-container ul {
        display: none;
    }
}

.main-bground {
    background-image: url("assets/bg-shenlong.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}

.bground-text {
    display: flex;
    flex-direction: column;
    padding-left: 115px;
}

.bground-text a {
    color: #fff;
    text-decoration: none;
}

.bground-text h1 {
    padding-top: 247px;
    padding-right: 587px;
    padding-bottom: 40px;
    font-family: "Paytone One";
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    line-height: 51px;
    color: #fff;
}

.bground-text-buttons button:first-of-type {
    width: 256px;
    height: 62px;
    border: 0;
    border-radius: 15px;
    background-color: #0047d0;
    color: #fff;
    margin-right: 20px;
}

.bground-text-buttons button:first-child:hover {
    background-color: #00a3ff;
}

.bground-text-buttons button:last-of-type {
    width: 256px;
    height: 62px;
    border: 2px solid #0047d0;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
}

.bground-text-buttons button:last-of-type:hover {
    border-color: #00a3ff;
}

.arrow-gradient {
    width: 100%;
    height: 100px;
    background: linear-gradient(360deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}

#arrow:hover {
    stroke: #00a3ff;
}

@media (max-width: 760px) {
    .main-bground {
        background-position: 40%;
    }
}

@media (max-width: 860px) {
    .main-bground {
        background-position: 90%;
    }
}

@media (max-width: 1076px) {
    .bground-text h1 {
        padding-right: 427px;
    }
}

@media (max-width: 860px) {
    .bground-text {
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .bground-text h1 {
        padding: 0;
        padding-top: 420px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 1285px) {
    .bground-text {
        padding-left: 40px;
    }
}

@media (max-width: 600px) {
    .main-bground {
        background-position: center;
    }

    .bground-text h1 {
        padding-left: 8px;
        padding-right: 12px;
    }

    .bground-text {
        margin-left: -20px;
    }

    .o2lea p {
        padding: 0 10px;
    }
    #b1 {
        display: none;
    }

    #b2 {
        width: 269px;
    }
}

@media (max-width: 425px) {
    .bground-text h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .header-orange-container {
        width: 120%;
    }
}

@media (min-width: 1520px) {
    .main-bground h1 {
        padding-right: 1000px;
    }
}

.arrow-gradient {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}

.arrow-gradient svg {
    width: 32px;
    height: 12px;
    margin-top: 40px;
    margin-bottom: 70px;
    cursor: pointer;
}

.arrow-gradient svg:hover {
    color: #00a3ff;
}

.o2learn-section {
    display: flex;
    max-width: 100%;
    background-color: #101010;
    z-index: 0;
    object-fit: cover;
    margin-bottom: 0;
}

.o2learn-section-content {
    display: flex;
    height: 770px;
    /* padding-left: 80px; */

    margin: 0 auto;
    max-width: 1600px;
}

.o2learn-section img {
    width: 542.11px;
    height: 441.35px;
    margin-top: -40px;
    padding-right: 20px;
}

.o2learn-section-text {
    display: flex;
    flex-direction: column;
    padding-right: 180px;
}

.o2learn-section-text h1 {
    font-family: "Paytone One", "sans-serif";
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    line-height: 55.84px;
    text-transform: uppercase;
}

.o2learn-section-text p {
    margin-top: 20px;
    font-family: "Readex Pro", "sans-serif";
    font-size: 18px;
    line-height: 22.5px;
    color: #fff;
    padding-right: 40px;
}

@media (max-width: 860px) {
    .o2learn-section img {
        margin-top: -240px;
    }
}

@media (max-width: 1300px) {
    .o2learn-section img {
        width: 450px;
        height: 374.39px;
    }
}

@media (max-width: 1220px) {
    .o2learn-section-text {
        padding-right: 20px;
    }

    .o2learn-section-content {
        padding-left: 20px;
    }
}

@media (max-width: 860px) {
    .o2learn-section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .o2learn-section-text {
        padding-left: 120px;
        padding-right: 120px;
    }

    @media (max-width: 600px) {
        .o2learn-section-text h1 {
            font-size: 24px;
            line-height: normal;
        }

        .o2learn-section-text p {
            padding-left: 0;
            padding-right: 0;
        }

        .o2learn-section img {
            width: 289px;
            height: 240.44px;
        }
    }
}

.goals-section {
    background-image: url("assets/bggeral.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 2800px; */
}

@media (min-width: 600px) and (max-width: 630px) {
    .goals-section-circle {
        margin-top: 200px;
    }
}

.goals-section-circle {
    width: 418px;
    height: 418px;
    background-color: #053799;
    margin: 0 auto;
    margin-top: -240px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    z-index: 2;
    margin-bottom: 20px;
}

.goals-section-circle h1 {
    font-family: "Paytone One", "sans-serif";
    font-size: 30px;
    color: #fff;
    padding-top: 60px;
}

.goals-section-circle p {
    font-family: "Readex Pro", "sans-serif";
    font-size: 20px;
    padding: 40px 60px;
    line-height: 25.88px;
    color: #fff;
}

.goals-section-squares {
    display: flex;
    margin-left: calc(50% - 381px);
}

.goals-square-column1 {
    display: flex;
    flex-flow: column wrap;
}

.goals-square-column2 {
    display: flex;
    flex-flow: column wrap;
}

.goals-square-column1-item1 {
    background-image: url("assets/square1.svg");
    object-fit: fill;
    width: 381px;
    height: 355px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
    margin-bottom: 20px;
}

.goals-square-column1-item2 {
    background-image: url("assets/square2.svg");
    object-fit: fill;
    width: 382px;
    height: 465px;
    position: relative;
    z-index: 2;
    margin-right: 10px;
}

.goals-square-column2-item1 {
    background-image: url("assets/square3.svg");
    object-fit: fill;
    width: 382px;
    height: 405px;
    position: relative;
    z-index: 2;
    margin-left: 10px;
    margin-bottom: 20px;
}

.goals-square-column2-item2 {
    background-image: url("assets/square4.svg");
    object-fit: fill;
    width: 382px;
    height: 395px;
    position: relative;
    z-index: 2;
    margin-left: 10px;
}

.goals-section-squares h2 {
    font-family: "Paytone One", "sans-serif";
    font-size: 30px;
    color: #fff;
    padding-left: 60px;
    padding-top: 50px;
}

.goals-section-squares p {
    font-family: "Readex Pro", "sans-serif";
    font-size: 20px;
    color: #fff;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 35px;
    line-height: 25px;
}

#accordion {
    display: none;
    transition: 0.5s;
}

.acd-container {
    background-image: url("assets/acd.svg");
    background-position: 50%;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-left: 0;
    z-index: 2;
    transition: 0.5s;
}

.accordion {
    position: relative;
    margin-top: -180px;
    padding-top: 150px;
    max-width: 400px;
    overflow: hidden;
    font-family: "Readex Pro", "sans-serif";
    background: #053799;
    z-index: 1;
}

.accordion__header {
    padding: 1em;
    background-color: #053799;
    color: #fff;
    border: 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.733);
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion__header h2 {
    font-family: "Paytone One", "sans-serif";
    font-size: 30px;
    text-transform: uppercase;
}

.accordion__header > * {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.accordion__header.is-active {
    background-color: #053799;
    color: #fff;
}

.accordion__toggle {
    margin-left: 10px;
    height: 3px;
    background-color: #fff;
    width: 13px;
    display: block;
    position: relative;
    flex-shrink: 1;
    border-radius: 2px;
}

.accordion__body {
    font-family: "Readex Pro", "sans-serif";
    color: #fff;
    font-size: 18px;
}

.accordion__toggle::before {
    content: "";
    width: 3px;
    height: 13px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 5px;
    border-radius: 2px;
}

.accordion__toggle::after {
    content: "";
}

.is-active .accordion__toggle {
    background-color: #fff;
}
.is-active .accordion__toggle::before {
    display: none;
    height: 0;
}

.accordion__body {
    display: none;
    padding: 1em 1em;
    border-bottom: 1px solid #ccc;
}

.accordion__body.is-active {
    display: block;
    height: fit-content;
}

@media (max-width: 432px) {
    .goals-section-circle {
        width: 100%;
        height: 306px;
    }

    .goals-section-circle p {
        font-size: 18px;
        padding: 28px 26px;
        line-height: 22.5px;
    }
}

@media (max-width: 433px) {
    .goals-section-squares {
        display: none;
    }

    #accordion {
        display: initial;
    }

    .kkk {
        margin-top: -100px;
    }

    .acd-container {
        margin-top: -80px;
        padding-bottom: 630px;
    }

    .heheheha {
        width: 100%;
        border-radius: 50%;
        background-color: #0047d0;
    }
}

@media (max-width: 524px) {
    .o2learn-section-text {
        padding: 0 20px;
    }
}
@media (max-width: 620px) {
    .goals-section-squares {
        margin-left: 10px;
    }
}

@media (max-width: 810px) {
    .goals-section-squares {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 810px) {
    .goals-square-column1-item1,
    .goals-square-column1-item2,
    .goals-square-column2-item1,
    .goals-square-column2-item2 {
        margin: 0;
    }
}

@media (max-width: 860px) {
    .o2learn-section-content {
        height: 880px;
    }
    .goals-section-circle {
        margin-top: -200px;
    }

    .o2learn-section-content {
        height: 1000px;
    }
}

@media (min-width: 1750px) {
    .goals-section-circle {
        margin-top: -300px;
    }
}

.radar {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.radar-content {
    display: flex;
    position: relative;
    z-index: 1;
}

#radar-sidebar320 {
    display: none;
}

.radar img {
    margin-left: -80px;
    z-index: 0;
}

.radar-container {
    display: flex;
    width: 545px;
    height: 545px;
    background-image: url("assets/radar.svg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.mySlides:first-of-type {
    display: block;
}

.mySlides {
    display: none;
}

.mySlides img {
    margin-left: calc(50% - 38px);
    margin-bottom: 20px;
}

#dress {
    margin-left: 40%;
}

.text {
    font-family: "Saira", "sans-serif";
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 0 160px;
    text-transform: uppercase;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #0047d0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 110px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 50px solid #0047d0;
    border-bottom: 30px solid transparent;
}

.next {
    right: 5px;
    border-top: 30px solid transparent;
    border-left: 50px solid #0047d0;
    border-bottom: 30px solid transparent;
}

.prev:hover {
    border-right-color: #00a3ff;
}

.next:hover {
    border-left-color: #00a3ff;
}

.selectors {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-right: 80px;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 6px 6px;
    background-color: #0047d0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background: #fff100;
    box-shadow: 0px 0px 10px #fff100;
}

@media (max-width: 580px) {
    #dress {
        margin-left: 32%;
    }

    .text {
        font-size: 16px;
    }
}

@media (max-width: 580px) {
    .selectors {
        margin-top: 100px;
    }
}

@media (max-width: 1135px) {
    .radar {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .radar-container {
        margin-top: -50px;
        margin-left: calc(50% - 545px);
    }

    #radar-sidebar {
        margin-left: calc(50% - 400px);
    }

    .prev,
    .next {
        top: 45%;
    }

    .prev {
        left: 160px;
    }

    .next {
        right: 140px;
    }

    .selectors {
        position: relative;
        flex-direction: row;
        top: 350px;
        left: 320px;
    }
}

@media (max-width: 655px) {
    #radar-sidebar {
        margin-left: 30px;
    }
}

@media (max-width: 580px) {
    #radar-sidebar {
        display: none;
    }

    #radar-sidebar320 {
        display: block;
        margin-left: 0;
    }

    .radar-container {
        position: relative;
        width: 289px;
        height: 289px;
        left: 100px;
    }

    .prev {
        left: -10px;
    }

    .next {
        right: -10px;
    }

    .text {
        font-size: 18px;
        padding: 0 80px;
    }

    .selectors {
        top: 150px;
        left: 170px;
    }
}

@media (max-width: 380px) {
    .radar-container {
        left: 120px;
    }

    .selectors {
        left: 180px;
    }
}

.form-section {
    background-image: url("assets/form-place.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1300px;
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form form {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 150px;
    gap: 20px;
}

.form h1 {
    position: relative;
    z-index: 2;
    font-family: "Paytone One", "sans-serif";
    font-size: 30px;
    line-height: 41.88px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 280px;
    margin-right: 70px;
}

.form img {
    position: relative;
    z-index: 3;
    margin-top: 220px;
}

.form img:last-of-type {
    position: absolute;
    z-index: 1;
    top: 110px;
}

.form input {
    font-family: "Readex Pro";
    // margin: 10px auto;
    padding-left: 25px;
    width: 543px;
    height: 62px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #f1f1f1;
    color: #555555;
    border: 0;
    max-width: calc(100% - 20px);
}

.form input:focus {
    outline: 0;
}

#check-form {
    width: 22px;
    height: 22px;
    span {
        color: white;
    }
}

.form #input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Readex Pro";
    margin: 10px auto;
    padding-left: 25px;
    width: 543px;
    height: 62px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #f1f1f1;
    color: #555555;
    border: 0;
}

.form #input-container {
    color: #555555;
}

.form #input-container label {
    display: flex;
    align-items: center;
    width: 184px;
    height: 40px;
    background-color: #02ae5a;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 35px;
    white-space: nowrap;
}

.form #input-container label:hover {
    background-color: #00c866;
}

.file {
    position: relative;
    color: transparent;
}

.file::after {
    content: "Selecionar arquivo";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 40px;
    font-size: 13px;
    background-color: #02ae5a;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    right: 11px;
    top: 11px;
    pointer-events: none;
    touch-action: none;
    z-index: 2;
}
.file::before {
    content: "Anexar Currículo";
    position: absolute;
    display: flex;
    align-items: center;
    color: #555555;
    font-size: 15px;
    padding-left: 26px;
    border-radius: 15px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 62px;
    background-color: #f1f1f1;
    pointer-events: none;
}
-webkit-file-upload-button {
    visibility: hidden !important;
    user-select: none !important;
}
#file-input {
    display: none !important;
    user-select: none !important;
}

.acceptance label {
    display: flex;
    align-items: center;
}

.acceptance span {
    color: #fff;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 5px;
}
.acceptance a {
    color: #fff;
}
.acceptance input {
    margin: 0;
}

.form #check-container {
    display: flex;
    width: 543px;
}

.form #check-container input {
    margin-left: 0px;
    margin-right: 15px;
}

.form #check-container label {
    margin-top: 15px;
}

.form #check-container label,
.form #check-container label a {
    font-family: "Readex Pro", "sans-serif";
    font-size: 15px;
    color: #fff;
}

#form-submit {
    width: 256px;
    height: 62px;
    background-color: #0047d0;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-left: 0px;
    padding-left: 0;
}

#form-submit:hover {
    background-color: #0338a1;
}

@media (max-width: 560px) {
    .form input {
        width: 100%;
        padding-left: 30px;
    }

    .form #input-container {
        width: 400px;
    }

    .form #check-container {
        width: 400px;
    }

    .form #input-container label {
        padding-right: 40px;
    }
}

@media (max-width: 415px) {
    .form form {
        margin-top: 110px;
    }

    .form h1 {
        margin-top: 250px;
    }

    .form img {
        margin-top: 180px;
    }
    .form input {
        width: 100%;
    }

    .form #input-container {
        width: 289px;
    }

    .form #check-container {
        margin-top: 60px;
        width: 289px;
    }

    .form #input-container label {
        margin-top: 140px;
    }

    #form-submit {
        width: 289px;
    }
}

@media (max-width: 600px) {
    .form-section {
        margin-top: 120px;
    }
}

@media (max-width: 1400px) {
    .form-section {
        margin-top: 40px;
    }
}

@media (min-width: 1365px) {
    .form h1 {
        margin-top: 450px;
    }

    .form img {
        margin-top: 380px;
    }

    .form-section {
        background-image: url("assets/kintoun.svg");
        background-position: center;
        /* height: 1300px; */
    }
}

.footer {
    margin-top: -70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("assets/footer-bground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer img {
    margin-left: 150px;
    margin-right: -20px;
}

.footer-text {
    display: flex;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    padding: 0 40px;
}

.footer-text img {
    margin-left: 10px;
    margin-right: 20px;
}

.footer-text button {
    margin-top: 2px;
    display: none;
    border: 0;
    border-radius: 15px;
    width: 290px;
    height: 62px;
    background-color: #0047d0;
    margin: 0 auto;
    cursor: pointer;
}

.footer-text button a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 730px) {
    .footer {
        position: relative;
        height: 200px;
        text-align: center;
        flex-direction: column;
        z-index: 2;
    }

    .footer-text {
        flex-direction: column;
    }

    .footer-text p {
        margin-top: -145px;
        padding-bottom: 30px;
    }

    .footer {
        background-image: url("assets/footer-bgroundm.svg");
        background-position: 5%;
    }
    .footer img {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        margin-top: -40px;
    }

    .footer-text button {
        display: initial;
    }
}

@media (max-width: 1180px) {
    .footer-text {
        margin-top: 40px;
    }
}

#esfera1 {
    position: absolute;
    top: 1486px;
    left: 25%;
}

#esfera2 {
    position: absolute;
    top: 1320px;
    left: 60%;
}

#esfera3 {
    position: absolute;
    top: 2153px;
    left: 5%;
}

#esfera4 {
    position: absolute;
    top: 2209px;
    left: 75%;
}

#esfera5 {
    position: absolute;
    top: 1736px;
    left: 10%;
}

#esfera6 {
    position: absolute;
    top: 1926px;
    left: 80%;
}

#esfera7 {
    position: absolute;
    top: 1626px;
    left: 75%;
}

@media (max-width: 1050px) {
    #esfera1,
    #esfera2,
    #esfera3,
    #esfera4,
    #esfera5,
    #esfera6,
    #esfera7 {
        display: none;
    }
}

@media (min-width: 2000px) {
    #esfera6 {
        left: 88%;
    }

    #esfera7 {
        left: 80%;
    }
}

.wpcf7-response-output {
    color: #fff !important;
}
.custom-checkbox {
    margin-top: 10;
    margin-bottom: 26px;
    p {
        color: white;
    }
    .wpcf7-list-item {
        margin-left: 0 !important;
        margin-right: 16px;
    }
}
.cbx {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #0047d0;
    border-radius: 2px;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
    margin-right: 8px;
}
.cbx:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
#cbx:checked ~ .cbx {
    border-color: transparent;
    background: #0047d0;
    animation: jelly 0.6s ease;
}
#cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}
.cntr {
    position: relative;
}
@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
.hidden-xs-up {
    display: none !important;
}

#kuririn.descending {
    transition: bottom 0.3s ease-in-out; /* Transição de 0.3 segundos para descer */
}
#kuririn {
    position: fixed;
    bottom: -80px;
    left: 20px;
}
